# Ignorar todo el contenido de la carpeta Data
concurrent-loader/Data/*

# PERO... no ignorar (excepción) el archivo de zonas
!concurrent-loader/Data/taxi_zone_lookup.csv

# Opcional: Ignorar también carpetas de compilación de Java
target/
*.class